<div class="flex justify-evenly gap-4 flex-wrap">
    {% for property in properties %}
    <div class="flex items-center p-4 border border-black/10 hover:border-black/20 transition-colors rounded-xl w-full">
        <img src="{{ property.image.url }}" alt="House" class="w-full max-w-40 h-full rounded-lg object-cover" />
        <div class="ml-4 w-full">
            <h3 class="text-lg text-zinc-900">{{ property.title }}</h3>
            <p class="text-sm text-zinc-600">{{ property.description }}</p>
            <p class="text-sm text-zinc-600 font-semibold">{{ property.listing_agent.user.first_name }}</p>
            <p class="text-base text-zinc-600">{{ property.address }}</p>
            <div>
                <a href="{% url 'edit-property' property.id %}" class="btn btn-xs">
                    <i class="ph ph-pencil"></i>
                </a>
            </div>
            {% load humanize %}
            <p class="capitalize text-zinc-900 mt-3">{{ property.price | intword}}</p>
            <div class="flex w-full items-center justify-between">
                <div class="text-sm text-zinc-600 flex items-center gap-1.5">
                    {{ property.area_sqft }} sqft
                    <div class='size-1 rounded-full bg-[#777777]'></div>
                    <span class="badge badge-primary capitalize ">{{ property.status }}</span>
                    <div class='size-1 rounded-full bg-[#777777]'></div>
                    <span class="badge badge-secondary capitalize">
                        {{ property.property_type }}</span>
                </div>
                <span class="text-light text-xs">{{ property.listed_at }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
