{% load static %}
<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EstateFlow</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'global.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet" />
</head>

<body class="bg-gray-50 text-base-content min-h-screen">
    {% if messages %}
    <div class="fixed bottom-4 right-4 z-50 flex flex-col gap-2 max-w-sm">
        {% for message in messages %}
        <div role="alert" class="alert alert-{{ message.tags }} shadow-lg">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block content %} {% endblock %}
</body>

</html>
