{% load static %}
<!doctype html>
<html lang="en" data-theme="corporate">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EstateFlow</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link href="{% static 'global.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="text-base-content min-h-screen">
    <div class="drawer lg:drawer-open">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
            <nav class="navbar w-full bg-[#0f172a] text-white">
                <label for="my-drawer-4" aria-label="open sidebar" class="btn btn-square text-white btn-outline">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round"
                        stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"
                        class="my-1.5 inline-block size-4">
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z">
                        </path>
                        <path d="M9 4v16"></path>
                        <path d="M14 10l2 2l-2 2"></path>
                    </svg>
                </label>
                <div class="px-4">{% block title %}{% endblock %}</div>
                <div class="flex justify-end grow">
                    <button class="btn px-10 btn-primary" onclick="my_modal_1.showModal()">Add</button>

                    <dialog id="my_modal_1" class="modal text-black">
                        <div class="modal-box">
                            <h3 class="text-lg font-bold">{% block formtitle %}{% endblock %}</h3>
                            {% block formcontent %} {% endblock %}
                            <form method="dialog" class="mt-2!">
                                <button class="btn">Close</button>
                            </form>
                        </div>
                    </dialog>
                </div>
            </nav>
            <div class="p-4">
                {% block content %} {% endblock %}
            </div>
        </div>
        {% include 'components/sidebar.html' %}
    </div>

</body>

</html>
